name: skoor_prototype
description: "Skoor - Football Prediction & Rewards App"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  intl: ^0.20.2
  carousel_slider: ^5.0.0
  smooth_page_indicator: ^1.2.0+3
  percent_indicator: ^4.2.4
  google_fonts: ^6.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
